@font-face
{
	font-family: 'CabinSketch';
	src: url(../fonts/CabinSketch-Bold.ttf);
}
.gfx_sir
{
	top: -250px !important;
	z-index: 10;
}
.gfx_student
{
	top: 0px !important;
	left: 230px;
	z-index: 11;
}
.gfx_room
{
	top: -270px !important;
	left: -50px !important;
}
.gfx_full
{
	top: 15px !important;
}
.devicesImg
{
	/*filter: drop-shadow(1px 1px 6px rgba(0,0,0,.16));*/
}
.k
{
	position: relative;
	top: 1px;
	left: 5px;
}
.sketch
{
	font-family: CabinSketch;
}