.sponsorDiv {
    text-align: left;
    font-weight: 600;
    line-height: 1.8;
}

.sponsorContact {
    text-align: left;
    line-height: 1.8;
    /* margin-top: 15px; */
}

.iot-features-content p {
    margin-top: 15px;
}

.single-blog-post .blog-post-content {
    height: 205px;
}

.blogImg {
    height: 230px;
}

.logo {
    max-width: 85%;
}

.logoImg {
    max-width: 85%;
}

.sponsorLeft {
    margin-left: 20px !important;
}

.repair-cta-area {
    padding-top: 80px;
    padding-bottom: 80px;
}

.single-blog-post .blog-post-content .read-more-btn {
    background: linear-gradient( 135deg, #ffc700 0%, #ffc700 100%);
    padding: 5px 15px;
    font-size: 13px;
    border-radius: 50px;
    margin-top: 20px;
}

.single-blog-post .blog-post-content p {
    margin: 10px 0px;
}

.single-blog-post .blog-post-content p.text-left {}

.blog-area .blog-post-content {
    height: auto;
}

.blog-area .single-blog-post .blog-post-content .read-more-btn:hover {
    color: #ffffff;
}

.funfact h3 {
    color: #f9c200;
}

.cta-repair-img .yellow {
    color: #f9c200;
}

.text-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.typewriter {
    font-family: sans-serif;
    color: #fff;
    /*padding-left: 30px;*/
    display: block;
}

.typewriter-text {
    padding-right: 10px;
    color: #ffc700;
    border-right: solid #ffc700 5px;
    text-transform: uppercase;
    animation: cursor 1s ease-in-out infinite;
    font-weight: bold;
}

.typewriter-text-bd {
    padding-right: 10px;
    color: #ffc700;
    border-right: solid #ffc700 5px;
    text-transform: uppercase;
    animation: cursor 1s ease-in-out infinite;
    font-weight: bold;
}

@keyframes cursor {
    from {
        border-color: #0e314c;
    }
    to {
        border-color: transparent;
    }
}

@media (max-width: 767.98px) {
    .logo {
        max-width: 55%;
    }
    .typewriter {
        font-size: 25px;
    }
}

@media (min-width: 768px) {
    .typewriter {
        font-size: 40px;
    }
}

.iot-features-content .bar {
    height: 4px;
    width: 100px;
    background: #fece3f;
    margin: 20px 0px;
    position: relative;
    border-radius: 30px;
}

.ml-about-content .bar {
    height: 4px;
    width: 100px;
    background: #fece3f;
    margin: 20px 0px;
    position: relative;
    border-radius: 30px;
}

.section-title .bar {
    height: 5px;
    width: 90px;
    background: #fece3f;
    margin: 20px auto;
    position: relative;
    border-radius: 30px;
}

.boxes-area {
    margin-top: 0px;
    z-index: 1;
}

.startp-nav nav .navbar-nav .nav-item a:hover,
.startp-nav nav .navbar-nav .nav-item a:focus,
.startp-nav nav .navbar-nav .nav-item a.active {
    color: #daac00;
}

.d-table {
    margin-top: 150px;
}

.main-banner {
    height: 550px;
}

.upDownMargin {
    margin-top: 40px;
    margin-bottom: 20px;
}

.marginUpper {
    margin-top: 100px;
}

li {
    line-height: 30px;
}


/* Language */

.language_change {
    position: absolute;
    right: -100px;
    top: 15px;
}

.language_change .switch {
    display: flex;
    position: relative;
    margin: 10px auto;
    width: 118px;
    height: 21px;
    border: 1px solid #ffcc3f;
    font-size: 16px;
    border-radius: 10px;
}

.language_change .language {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 100%;
    line-height: 20px;
}

.language_change .language:first-child label {
    border-radius: 5px 0 0 5px;
}

.language_change .language:last-child label {
    border-radius: 0 5px 5px 0;
}

.language_change .language label {
    color: #000;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    transition: transform 0.5s, color 0.5s, background-color 0.5s;
}

.language_change .language input[type="radio"] {
    appearance: none;
    width: 0;
    height: 0;
    opacity: 0;
}

.language_change .language input[type="radio"]:focus {
    outline: 0;
    outline-offset: 0;
}

.language_change .language input[type="radio"]:checked~label {
    background-color: #ffcc3f;
    color: #111;
    font-size: 12px;
}

.language_change .language input[type="radio"]:active~label {
    transform: scale(1.05);
}

.main-banner .hero-content p {
    margin: 20px 0px 0px;
}


/**********************************/

.langWrap {
    background: #ffc700;
    display: flex;
    padding: 2px;
    position: absolute;
    border-radius: 5px;
    top: 25px;
}

.langWrap a {
    width: 65px;
    text-transform: uppercase;
    color: #0e314c;
    text-decoration: none;
    padding: 0 10px;
    /* font-weight: bold; */
    background: #f0f0f0;
    font-size: 12px;
    text-align: center;
}

.langWrap a.active {
    background: #ffc700;
}

.langWrap .content {
    margin-top: 20px;
    font-size: 20px;
}

.services-content .box {
    min-height: 75px;
}

.single-box {
    padding: 30px 15px;
}

.single-box h3 {
    font-size: 16px;
}

.upDownMargin {
    line-height: 1.9;
}

.tt-active {
    display: block !important;
}
.tt-none {
    display: none !important;
}

.startp-mobile-nav .language_change {
    display: none;
}